$btn-bg-color: #333;
$btn-color: white;
$btn-padding: 10px 20px;
$btn-border-radius: 5px;
$btn-hover-bg-color: #ddd;
$btn-active-bg-color: #333;
$btn-disabled-bg-color: #333;

.btn {
  background-color: $btn-bg-color;
  color: $btn-color;
  padding: $btn-padding;
  border: none;
  border-radius: $btn-border-radius;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $btn-hover-bg-color;
  }

  &:active {
    background-color: $btn-active-bg-color;
  }

  &:disabled {
    background-color: $btn-disabled-bg-color;
    cursor: not-allowed;
  }
}